{% extends "layout.html" %}
{% block body %}
  <div>
    <p class="lead">Brought to you by: {{ad.provider}}</p>
    <table class="table">
    <thead>
        <th>Date</th>
        <th>Image</th>
        <th>Provider</th>
        <th>Headline</th>
        <th>Source</th>
        <th>Host</th>
        <th>Image Host</th>
      </thead>
      <tbody>
        <tr>
          <td><b>{{ad.date}}</b></td>
          <td><img src="{{ad.img}}" width="150"/></td>
          <td>{{ad.provider}}</td>
          <td><a href="{{ad.link}}">{{ad.headline}}</a></td>
          <td>{{ad.source}}</td>
          <td>{{ad.link_host}}</td>
          <td>{{ad.img_host}}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}