{% extends "layout.html" %}
{% block body %}
  <div>
    <p class="lead">{{ad_count}} Ads</p>
    <form action="/ads/search" method="get">
      <label for="Carrier">Search terms</label>
      <input name="Terms" maxlength="300" style="width: 140px; margin-right: 10px;" value="{{term if term else ''}}"></input>
      <button type="submit" class="btn btn-xs btn-default" style="height: 25px">Submit</button>
    </form>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Date</th>
        <th>Image</th>
        <th>Provider</th>
        <th>Headline</th>
        <th>Source</th>
        <th>Host</th>
        <th>Image Host</th>
      </thead>
      <tbody>
        {% for ad in ads %}
        <tr>
          <td><b>{{ad.date}}</b></td>
          <td><img src="{{ad.img}}" width="150"/></td>
          <td>{{ad.provider}}</td>
          <td><a href="{{ad.link}}">{{ad.headline}}</a></td>
          <td>{{ad.source}}</td>
          <td>{{ad.link_host}}</td>
          <td>{{ad.img_host}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% import "macros.jnj" as common %}
  {% if nav_offsets and nav_path -%}
    {{ common.display_nav(nav_offsets, nav_path, ad_count)|safe }}
  {% endif -%}
{% endblock %}
